<div>
  <section class="reminders">
    <h1>Reminders</h1>

    <form onSubmit={{action handleSubmit}}>
      <input type="text" value={{newTodoText}} class="form-new__input" onKeyUp={{action handleKeyUp}}>
    </form>

    <ul class="todo">
      {{#each todos key="@index" as |item|}}
        <li class="todo__item">{{item}}</li>
      {{/each}}
    </ul>
  </section>
</div>
