<div>
  <section class="reminders">
    <h1>Reminders</h1>

    <form onSubmit={{action handleSubmit}}>
      <input type="text" value={{newTodoText}} class="form-new__input" onKeyUp={{action handleKeyUp}}>
    </form>

    <ul class="todo">
      <li class="todo__item">First item</li>
      <li class="todo__item">Second item</li>
    </ul>
  </section>
</div>
